<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li [className]="page == 1 ? 'page-item active' : 'page-item'" (click)='changePage(1)'>
        <a class="page-link">1</a>
      </li>
      <li [className]="page == 2 ? 'page-item active' : 'page-item'" (click)='changePage(2)'>
        <a class="page-link">2</a>
      </li>
      <li [className]="page == 3 ? 'page-item active' : 'page-item'" (click)='changePage(3)'>
        <a class="page-link">3</a>
      </li>
      <li [className]="page == 4 ? 'page-item active' : 'page-item'" (click)='changePage(4)'>
        <a class="page-link">4</a>
      </li>
      <li [className]="page == 5 ? 'page-item active' : 'page-item'" (click)='changePage(5)'>
        <a class="page-link">5</a>
      </li>
      <li [className]="page == 6 ? 'page-item active' : 'page-item'" (click)='changePage(6)'>
        <a class="page-link">6</a>
      </li>
      <li [className]="page == 7 ? 'page-item active' : 'page-item'" (click)='changePage(7)'>
        <a class="page-link">7</a>
      </li>
      <li [className]="page == 8 ? 'page-item active' : 'page-item'" (click)='changePage(8)'>
        <a class="page-link">8</a>
      </li>
      <li [className]="page == 9 ? 'page-item active' : 'page-item'" (click)='changePage(9)'>
        <a class="page-link">9</a>
      </li>
      <li [className]="page == 10 ? 'page-item active' : 'page-item'" (click)='changePage(10)'>
        <a class="page-link">10</a>
      </li>
      <li [className]="page == 11 ? 'page-item active' : 'page-item'" (click)='changePage(11)'>
        <a class="page-link">11</a>
      </li>
      <li [className]="page == 12 ? 'page-item active' : 'page-item'" (click)='changePage(12)'>
        <a class="page-link">12</a>
      </li>
      <li [className]="page == 13 ? 'page-item active' : 'page-item'" (click)='changePage(13)'>
        <a class="page-link">13</a>
      </li>
      <li [className]="page == 14 ? 'page-item active' : 'page-item'" (click)='changePage(14)'>
        <a class="page-link">14</a>
      </li>
      <li [className]="page == 15 ? 'page-item active' : 'page-item'" (click)='changePage(15)'>
        <a class="page-link">15</a>
      </li>
      <li [className]="page == 16 ? 'page-item active' : 'page-item'" (click)='changePage(16)'>
        <a class="page-link">16</a>
      </li>
      <li [className]="page == 17 ? 'page-item active' : 'page-item'" (click)='changePage(17)'>
        <a class="page-link">17</a>
      </li>
      <li [className]="page == 18 ? 'page-item active' : 'page-item'" (click)='changePage(18)'>
        <a class="page-link">18</a>
      </li>
      <li [className]="page == 19 ? 'page-item active' : 'page-item'" (click)='changePage(19)'>
        <a class="page-link">19</a>
      </li>
      <li [className]="page == 20 ? 'page-item active' : 'page-item'" (click)='changePage(20)'>
        <a class="page-link">20</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
